<% if @article.image.attachment.present? %>
  <%= image_tag @article.image %>
<% end %>


<h2><%=@article.title%></h2>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @article.tags.join(', ') %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @article.likes.count %>
</p>

<% if already_liked?(current_user, @article) %>
  <%= link_to 'Unlike', article_like_path(@article, user_like(current_user, @article)), method: :delete, class: 'btn btn-success' %>
<% else %>
  <%= link_to 'Like', article_likes_path(@article), method: :post, class: 'btn btn-success' %>
<% end %>
<hr>

<h3>Comments</h3>

<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<% if @article.user == current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<%= link_to 'Back', articles_path %>
